pkgbase = homestream-bin
	pkgdesc = Self-hosted Netflix-style family media streaming app
	pkgver = 1.9.4
	pkgrel = 1
	url = https://github.com/HomeStream-co/homestream
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = nss
	depends = libxss
	depends = libxrandr
	depends = alsa-lib
	depends = libnotify
	depends = libxtst
	depends = xdg-utils
	optdepends = wireguard-tools: VPN kill-switch support
	optdepends = openvpn: OpenVPN fallback support
	provides = homestream
	conflicts = homestream
	noextract = HomeStream-1.9.4.AppImage
	source = HomeStream-1.9.4.AppImage::https://github.com/HomeStream-co/homestream/releases/download/v1.9.4/HomeStream-1.9.4.AppImage
	source = homestream.desktop
	source = homestream.png::https://raw.githubusercontent.com/HomeStream-co/homestream/main/electron/assets/icon.png
	sha256sums = SKIP
	sha256sums = b3c2a1d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2
	sha256sums = SKIP

pkgname = homestream-bin
